.contacts {
    background-color: #68ae00;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.contacts_mobile {
    display: block;
}

@media only screen and (min-width: 1024px) {
    .contacts_mobile {
        display: none;
    }
}

.contacts__head {
    padding: 25px 0 10px;
}

.contacts__telephone {
    overflow: hidden;
    width: 280px;
    margin: 0 auto;
    padding: 0 0 25px;
}

.contacts__name {
    float: right;
    padding-top: 5px;
}

.contacts__icon-phone {
    display: inline-block;
    width: 33px;
    height: 33px;
    margin: 0 10px;
    background: #68ae00 url("../img/icon_phone.png") center center no-repeat;
    float: right;
}

.contacts__number {
    text-decoration: underline;
    padding-top: 5px;
    float: right;
}

.contacts__number_not-decor {
    text-decoration: none;
}



