.footer {
    background-color: #ffffff;
}

.footer__menu {
    display: none;
    float: left;
    background-color: #43464a;
}

@media only screen and (min-width: 1024px) {
    .footer__menu {
        display: block;
    }
}

.footer__menu-extLists {
}

.footer__menu-extItems {
    vertical-align: top;
    display: inline-block;
    text-align: right;
    margin-left: 90px;
}

.footer__menu-extItems:last-child {
    margin-left: 0;
}

.footer__menu-title {
    font-weight: 900;
    font-size: 20px;
    color: #68ae00;
    padding: 0 0 15px;
}

.footer__menu-list {
    padding-top: 10px;
}

.footer__menu-item {
    margin-bottom: 20px;
}

.footer__menu-item:last-child {
    margin-bottom: 0;
}

.footer__menu-link {
    color: #ffffff;
}

.footer__menu-link:hover {
    border-bottom: 2px solid #ffffff;
    transition: all .125s ease;
}

.footer__social {
    background-color: #43464a;
    padding: 45px 0;
}

.footer__social-head {
    display: block;
    color: #68ae00;
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    padding: 0 0 20px 0;
}

@media only screen and (min-width: 1024px) {
    .footer__social-head {
        float: right;
    }
}

.footer__social-list {
    text-align: center;
    padding: 0 0 45px 0;
}

@media only screen and (min-width: 1024px) {
    .footer__social-list {
        float: right;
        clear: right;
    }
}

.footer__social-item {
    display: inline-block;
    margin-left: 10px;
}

.footer__social-item:last-child {
    margin-left: 0;
}

.footer__social-link {
    display: block;
    width: 43px;
    height: 43px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer__social-link_g {
    background-image:  url("../img/icon_g.png");
}

.footer__social-link_in {
    background-image:  url("../img/icon_in.png");
}

.footer__social-link_tube {
    background-image:  url("../img/icon_youtube.png");
}

.footer__social-link_fb {
    background-image:  url("../img/icon_fb.png");
}

.footer__message{
    text-align: center
}

@media only screen and (min-width: 1024px) {
    .footer__message {
        float: right;
        clear: right;
    }
}


.footer__message-form {
    padding: 0 0 45px 0;
}

@media only screen and (min-width: 1024px) {
    .footer__message-form {
        float: right;
        clear: right;
    }
}

.footer__message-head {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #68ae00;
    font-weight: 900;
    padding: 0 0 20px 0;
}

@media only screen and (min-width: 1024px) {
    .footer__message-head {
        float: right;
        clear: right;
    }
}

.footer__message-sub {
    display: none;
    color: #ffffff;
    float: right;
    padding: 0 0 10px;
    margin-top: -10px;
    clear: right;
}

@media only screen and (min-width: 1024px) {
    .footer__message-sub {
        display: block;
    }
}

.footer__message-input {
    padding: 10px;
    height: 60px;
    width: 220px;
    box-sizing: border-box;
}

@media only screen and (min-width: 1024px) {
    .footer__message-input_mobile {
        display: none;
    }
}

.footer__message-input_desktop {
    display: none;
    padding: 10px;
    height: 40px;
    width: 265px;
    box-sizing: border-box;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border: none;
    float: right;
    font-size: 18px;
}

@media only screen and (min-width: 1024px) {
    .footer__message-input_desktop {
        display: block;
    }
}

.footer__message-btn {
    height: 60px;
    width: 60px;
    background: #68ae00 url("../img/icon-fly.png") center center no-repeat;
    border: none;
    margin: 0 0 0 -4px;
}

@media only screen and (min-width: 1024px) {
    .footer__message-btn_mobile {
        display: none;
    }
}

.footer__message-btn_desktop {
    display: none;
    height: 40px;
    width: 75px;
    background: #68ae00;
    border: none;
    margin: 0 -4px 0 0;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    float: right;
    color: #ffffff;
    font-weight: 900;
    font-size: 18px;
}

@media only screen and (min-width: 1024px) {
    .footer__message-btn_desktop {
        display: block;
    }
}

.footer__message-btn:hover {
    cursor: pointer;
}

.footer__link-more {
    color: #ffffff;
    font-weight: 900;
    text-decoration: underline;
    display: block;
}

@media only screen and (min-width: 1024px) {
    .footer__link-more {
        display: none;
    }
}

.footer__partners {
    background-color: #ffffff;
    padding: 30px 0 50px;
}


@media only screen and (min-width: 1024px) {
    .footer__partners-top {
        width: 590px;
        margin: 0 auto;
        overflow: hidden;
    }
}


.footer__big-partners {
    overflow: hidden;
    width: 320px;
    padding: 0 35px 20px;
    box-sizing: border-box;
    margin: 0 auto;
}



@media only screen and (min-width: 1024px) {
    .footer__big-partners {
        width: 390px;
        margin: 0;
        padding: 0;
        float: right;
    }
}

.footer__big-partnersItem {
    float: right;
}

@media only screen and (min-width: 1024px) {
    .footer__big-partnersItem {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
}


.footer__big-partnersItem:first-child {
    margin-left: 50px;
}

@media only screen and (min-width: 1024px) {
    .footer__big-partnersItem:first-child {
        margin-left: 30px;
    }
}

.footer__big-partnersItem:nth-child(2) {
    margin-top: 20px;
}

@media only screen and (min-width: 1024px) {
    .footer__big-partnersItem:nth-child(2) {
        margin-top: 10px;
    }
}

.footer__small-partners {
    width: 200px;
    padding: 20px 0 0;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
    .footer__small-partners_mobile {
        display: none;
    }
}

.footer__small-partners_desktop {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .footer__small-partners_desktop {
        display: inline-block;
    }
}

.footer__small-partnersItem {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.footer__small-partnersItem:last-child {
    margin-left: 0;
}

.footer__copyright {
    background-color: #ffffff;
    text-align: center;
    padding: 0 0 20px;
}

.footer__contacts {
    background-color: #68ae00;
    display: none;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    .footer__contacts {
        display: block;
    }
}

.footer__contacts-telephone {
    text-align: center;
    width: 100%;
    padding: 35px 0 30px 0;
}

.footer__contacts-name {
    float: none;
    padding-top: 5px;
}

.footer__contacts-number {
    padding-top: 5px;
    text-decoration: none;
    float: none;
}

