.form {
    background-color: #ffffff;
    width: 300px;
    height: 370px;
    box-shadow: 0 0 15px -3px rgba(0,0,0,0.30);
}

.form__title {
    text-align: center;
    display: block;
    font-size: 18px;
    padding-top: 25px;
    font-weight: 900;
    width: 240px;
    margin: 0 auto;
}

.form__block {
    position: relative;
}

.form__input {
    display: block;
    background-color: #ebebeb;
    margin: 30px auto;
    width: 264px;
    height: 32px;
    border-radius: 1px;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0 10px;
}

.form__input-indicator {
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 17px;
    visibility: hidden;
    transform: translateY(-50%);
    right: 16px;
}

.form__input:focus {
    border: 1px solid rgba(51,51,51,.25);
}

.form__input:last-child {
    margin: 30px auto 0;
}

.form__input_btn {
    height: 50px;
    font-size: 20px;
    font-weight: 900;
    background-color: #f97f05;
}

.form__input_btn:hover {
    cursor: pointer;
    color: #ffffff;
}

.form__indicator_invalid{
    background-color: red;
    visibility: visible;
}

.form__indicator_access {
    background-color: #68ae00;
    visibility: visible;
}

.form__accepted {
    display: none;
    position: relative;
    top: -100%;
    width: inherit;
    height: inherit;
    background: #ffffff url('../img/accepted_bg.png') center 60% no-repeat;
}

.form__accepted-span{
    display: block;
    text-align: center;
    font-size: 18px;
    color: #333333;
}

.form__accepted-span_head {
    padding-top: 20px;
}

.form__accepted-span_send {
    color: #68ae00;
    padding: 20px 0;
}

.form__accepted-span__callback {

}