.hamburger {

}

.hamburger__span {
    width: 34px;
    height: 5px;
    background-color: #43464a;
    display: block;
}

.hamburger__span_up {
    margin-bottom: 5px;
}

.hamburger__span_middle {
    margin-bottom: 5px;
}

.hamburger__span-_down {

}

