.header {
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.35);
}

.header__up {
    display: none;
    overflow: hidden;
    background-color: #404040;
}

@media only screen and (min-width: 1024px) {
    .header__up {
        display: block;
        padding: 7px 0;
    }
}

.header__top-btn {
    float: left;
    width: 70px;
    height: 27px;
    background-color: #f97f05;
    margin-right: 1px;
    color: #ffffff;
    font-size: 14px;
    outline: none;
    border: none;
}

.header__top-btn:hover {
    cursor: pointer;
    color: #333333;
}

.header__btn:last-child {
    margin-right: 0;
}

.header__centerList {
    float: left;
    padding: 0 50px;
    border: 1px solid #b2b2b2;
    border-top: none;
    border-bottom: none;
    margin: 0 60px;
    height: 27px;
}

.header__centerItems {
    margin-left: 35px;
    display: inline-block;
}

.header__centerItems:last-child {
    margin-left: 0;
}

.header__centerLink {
    color: #ffffff;
    font-size: 16px;
    vertical-align: middle;
    line-height: 27px;
}

.header__centerLink:hover {
    text-decoration: underline;
}

.header__rightList {
    float: left;
    height: 27px;
}

.header__rightItem {
    margin-right: 25px;
    display: inline-block;
}

.header__rightItem:first-child {
    margin-right: 0;
}

.header__rightLink {
    color: #ffffff;
    font-size: 16px;
    vertical-align: middle;
    line-height: 27px;
    padding-right: 25px;
    background-position: right center;
    background-repeat: no-repeat;
}

.header__rightLink:hover {
    text-decoration: underline;
}

.header__rightLink_quest {
    background-image: url("../img/quest.png");
}

.header__rightLink_b {
    background-image: url("../img/icon_bt.png");
}

.header__rightLink_dialog {
    background-image: url("../img/dialog.png");
}

.header__centerItems:last-child {
    margin-right: 0;
}

.header__down {
    background-color: #ffffff;
    min-height: 75px;
    overflow: hidden;
}

.header__hamburger {
    position: absolute;
    left: 35px;
    top: 20px;
    z-index: 1000;
}

@media only screen and (min-width: 1024px) {
    .header__hamburger {
        display: none;
    }
}

.header__logo {
    float: right;
    margin-top: 15px;
}

@media only screen and (min-width: 1024px) {
    .header__logo {
        margin-top: 5px;
    }
}

.header__menu {
    display: none;
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
    text-align: right;
    background-color: rgba(051,051,051,.80);
}

@media only screen and (min-width: 1024px) {
    .header__menu {
        background-color: #ffffff;
        display: block;
        position: relative;
        margin-right: 65px;
        float: right;
        left: 0;
        width: inherit;
    }
}

@media only screen and (max-width: 1024px) {
    .header__menu {
        display: none;
    }
}

.header__menu-list {
    padding: 34px 0 22px;
}

@media only screen and (max-width: 1023px) {
    .header__menu-list {
        padding: 15px 0 22px;
    }
}

.header__menu-item {
    display: block;
    margin-bottom: 15px;
}

.header__menu-item:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1024px) {
    .header__menu-item {
        margin-bottom: 0;
        display: inline-block;
    }
}

@media only screen and (min-width: 1024px) {
    .header__menu {
        display: block;
    }
}