.menu {
    z-index: 999;
}

.menu__list {

}

.menu__item {
    display: inline-block;
    margin-left: 25px;
}

.menu__item:last-child {
    display: inline-block;
    margin-left: 0;
}

.menu__link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    padding: 15px 20px;
}

@media only screen and (min-width: 1024px) {
    .menu__link {
        color: #333333;
    }
}

.menu__link:hover {
    color: #f97f05;
    background-color: #f2f2f2;
    transition: all 0.275s ease;
}