* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    padding: 0 20px;
    overflow: hidden;
}

@media only screen and (min-width: 1024px) {
    .wrapper {
        max-width: 960px;
        margin: 0 auto;
    }
}

.logo {
    display: inline-block;
    width: 90px;
    height: 48px;
    background-image: url("../img/logo.png");
}

@media only screen and (min-width: 1024px) {
    .logo {
        width: 122px;
        height: 63px;
        background-image: url("../img/logoBig.png");
    }
}