.support {
    display: none;
    background: #ebebeb url("../img/contacts_bg.png") center 0 no-repeat;
    min-height: 450px;
}

@media only screen and (min-width: 1024px) {
    .support {
        display: block;
    }
}

.support__title {
    color: #68ae00;
    text-align: center;
    font-weight: 900;
    padding: 70px 0 25px;
    font-size: 32px;
}

.support__sub-title {
    text-align: center;
    color: #333333;
    font-size: 22px;
    padding: 0 0 20px;
}

.support__list {
    text-align: center;
}

.support__item {
    vertical-align: top;
    display: inline-block;
    margin-left: 90px;
    width: 220px;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 60px;
}

.support__item_quest {
    background-image: url("../img/support_quest.png");
}

.support__item_b {
    background-image: url("../img/support_b.png");
}

.support__item_dialog {
    background-image: url("../img/support_dialog.png");
}

.support__item:last-child {
    margin-left: 0;
}

.support__item-title {
    font-size: 24px;
    padding: 0 0 10px;
    font-weight: 900;
    color: #333333;
    display: block;
}

.support__link {
    color: #333333;
    font-size: 18px;
}

.support__link:hover {
    text-decoration: underline;
}

.support__link:after {
    display: inline-block;
    margin-right: 5px;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f97f05 url("../img/arrow-white.png");
    vertical-align: middle;
}

