.templates {
    background-color: #ebebeb;
}

.templates__head {
    font-size: 32px;
    color: #333333;
    padding-top: 50px;
}

.templates__sub-title {
    font-size: 14px;
    padding: 10px 0 35px;
}

.templates__list {
    text-align: center;
}

.templates__item {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.15);
}

.templates__link:after {
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 0;
    content: 'www.hello-ladies.co.il';
    text-align: center;
    font-weight: 900;
    color: #68ae00;
    width: 100%;
    height: 20px;
    font-size: 20px;
    transform: translateY(-50%);
    background-color: transparent;
}

.templates__link:before {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.templates__item:hover .templates__link:before {
    opacity: 0.8;
}

.templates__item:hover .templates__link:after {
    opacity: 1;
}

.templates__item:hover {
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.25);
}

@media only screen and (min-width: 485px) {
    .templates__item {
        margin-left: 10px;
    }

    .templates__item:nth-child(2n) {
        margin-left: 0;
    }
}

@media only screen and (min-width: 728px) {
    .templates__item {
        margin-left: 10px;
    }

    .templates__item:nth-child(2n) {
        margin-left: 10px;
    }

    .templates__item:nth-child(3n) {
        margin-left: 0;
    }
}

@media only screen and (min-width: 962px) {
    .templates__item {
        margin-left: 10px;
    }

    .templates__item:nth-child(2n) {
        margin-left: 10px;
    }

    .templates__item:nth-child(3n) {
        margin-left: 10px;
    }

    .templates__item:nth-child(4n) {
        margin-left: 0;
    }
}

@media only screen and (min-width: 962px) {
    .templates__item:nth-child(1n) {
        margin-left: 20px;
    }

    .templates__item:nth-child(3n) {
        margin-left: 0;
    }
}

.templates__link_mobile {
    display: block;
    /*width: 220px;*/
}

@media only screen and (min-width: 1024px) {
    .templates__link_mobile {
        display: none;
    }
}

.templates__link_desktop {
    display: none;
    /*width: 280px;*/
}

@media only screen and (min-width: 1024px) {
    .templates__link_desktop {
        display: block;
    }
}
