.top {
    position: relative;
    background: #43464a url("../img/main__top-bg.png") no-repeat;
    background-size: cover;
    min-height: 316px;
}

.top>.wrapper {
    overflow: visible;
}

@media only screen and (min-width: 1024px) {
    .top {
        background: #ebebeb;
        min-height: 495px;
    }
}

.top__head {
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    padding: 10px 0 0;
}

@media only screen and (min-width: 425px) {
    .top__head {
        padding: 45px 0 0;
    }
}

.top__head-mobile {
    display: block;
}

@media only screen and (min-width: 1024px) {
    .top__head-mobile {
        display: none;
    }
}

.top__sup-des {
    display: block;
}

.top__des {
    padding: 5px 0 0;
    text-align: right;
    color: #ffffff;
    font-size: 36px;
    width: 170px;
    margin: 0 auto 70px;
}

@media only screen and (min-width: 425px) {
    .top__des {
        padding: 25px 0 0;
    }
}

.top__sub-des {
    font-size: 20px;
}

.top__des-big {
    font-size: 70px;
}

.top__link-more {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.top__btn-more {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: #ffffff url("../img/top__btn-more.png") center center no-repeat;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}


/*top__desktop*/


.top__desktop {
    display: none;
    padding: 52px 0 20px;
}

@media only screen and (min-width: 1024px) {
    .top__desktop {
        display: block;
    }
}

.top__desktop-desColumn {
    position: relative;
    width: 330px;
    text-align: right;
    float: left;
    padding: 0 20px 0 10px;
    box-sizing: border-box;
}

.top__desktop-head {
    color: #68ae00;
    font-size: 46px;
    font-weight: 900;
}

.top__desktop-des {
    color: #333333;
    font-size: 18px;
    width: 291px;
    padding: 20px 0 0;
}

.top__desktop-link {
    color: #333333;
    font-size: 24px;
    margin-top: 25px;
    display: block;
    font-weight: 900;
}

.top__desktop-link:hover {
    text-decoration: underline;
}

.top__desktop-link:after {
    vertical-align: middle;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
    background: #333333 url("../img/arrow-white.png") center center no-repeat;
}

.top__desktop-btn {
    margin: 55px auto 0;
    display: block;
    width: 214px;
    height: 52px;
    background-color: #f98006;
    color: #ffffff;
    font-weight: 900;
    font-size: 24px;
    border: none;
    outline: none;
}

.top__desktop-btn:hover {
    color: #333333;
    cursor: pointer;
}

.top__desktop-more {
    margin: 35px auto 0;
    display: block;
    color: #f97f05;
    font-size: 20px;
    width: 200px;
    font-weight: 900;
    background: url('../img/arrow-btn_left.png') 25px bottom no-repeat;
}

/*.top__desktop-more:after {*/
/*    display: inline-block;*/
/*    border-radius: 50%;*/
/*    content: '';*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background: #f97f05 url("../img/arrow-white.png");*/
/*    margin: 0 15px;*/
/*    vertical-align: middle;*/
/*}*/

.top__desktop-more:hover {
    text-decoration: underline;
    cursor: pointer;
}

.top__form {
    display: none;
    position: absolute;
    height: 370px;
    bottom: -400px;
    z-index: 100;
}